/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* =============== Sidebar =============== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #62D2A2;
    z-index: 100;
}

.sidebar.close {
    width: 78px;
}

/* --------- Logo ------------ */
.logo-box {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #1e1e1e;
    transition: all .5s ease;
}


.logo-box i {
    font-size: 30px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: all .5s ease;
}

.sidebar.close .logo-box i {
    transform: rotate(360deg);
}

.logo-name {
    font-size: 22px;
    font-weight: 600;
}

/* ---------- Sidebar List ---------- */
.sidebar-list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
    display: none;
}

.sidebar-list li {
    transition: all .5s ease;
}

.sidebar-list li:hover {
    background-color: #9DF3C4;

}

.sidebar-list li .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
}

.sidebar-list li.active .title {
    background-color: #9DF3C4;
}

.sidebar-list li.active .bxs-chevron-down {
    transition: all .5s ease;
    transform: rotate(180deg);
}

.sidebar-list li .title .link {
    display: flex;
    align-items: center;
}

.sidebar-list li .title i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 20px;
}

.sidebar-list li .title i img {
    height: 30px;
    margin-top: 10px;
}

.sidebar-list li .title .name {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

/* ---------------- Submenu ------------- */
.sidebar-list li .submenu {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}

.sidebar-list li.dropdown.active .submenu {
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 6px 6px 14px 80px;
    background-color: #9DF3C4;
}

.submenu .link {
    color: black;
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}

.submenu .link:hover {
    color: #1e1e1e;
}

.submenu-title {
    display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
    display: none;
}

.sidebar.close .sidebar-list {
    overflow: visible;
}

.sidebar.close .sidebar-list li {
    position: relative;
}

.sidebar.close .sidebar-list li .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    height: max-content;
    width: max-content;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.sidebar.close .sidebar-list li:hover .submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    background-color: #9DF3C4;
}

.sidebar.close .submenu-title {
    display: block;
    font-style: 18px;
    color: black;
}

/* =============== Home Section =============== */
.home {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: margin-left 500ms;
}

header {
    position: fixed;
    top: 0;
    left: 260px;
    width: calc(100% - 260px);
    z-index: 100;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons div img {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-items: center;
}

.btn-logout {
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    margin-left: 1rem;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: small;
}

.btn-edit-profile {
    padding: 10px;
    background-color: #62D2A2;
    color: #1e1e1e;
    margin-left: 1rem;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
}

.btn-add {
    padding: 10px;
    background-color: #62D2A2;
    color: #1e1e1e;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: .8rem;
}

.btn-upgrade {
    padding: 10px;
    background-color: #62D2A2;
    color: #1e1e1e;
    margin-left: 20px;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: .8rem;
}

.btn-delete {
    padding: 10px;
    background-color: #dc3545;
    color: #efefef;
    margin: 1rem;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: .8rem;
}

.garis {
    height: 38px;
    width: 2px;
    background-color: #777;
    margin-left: 20px;
}

main {
    margin-top: 60px;
    background: #D7FBE8;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: black;
    margin-bottom: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}

.dash-cardss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}


.dash-cardsss {
    display: flex;
    justify-content: center;
}

.card-single {
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.2);
}

.card-singles {
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.2);
    width: 70%;
    margin-top: 1.5rem;
}

.card-singless {
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-bodys {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-bodys .profile .img-profile img {
    margin-bottom: 1rem;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.card-bodys .profile .img-profile {
    display: flex;
    justify-content: space-around;
}

.card-bodys .profile {
    width: 80%;
}

.card-bodys .profile .info-profile {
    margin: 8px;
}

.card-bodys .profile .info-profile label {
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 0.2rem;
}


.card-bodys .profile .info-profile input,
select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1e1e1e;
    border-radius: 0.35rem;
}

.card-bodys .profile .edit-profile {
    margin: 25px;
    display: flex;
    justify-content: flex-end;
}

.card-bodys .profile .btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bodys .profile .btn-upload input {
    width: 30%;
    /* margin-left: 4rem; */
}


.card-body span {
    font-size: 1.5rem;
    color: #1e1e1e;
    padding-right: 1.4rem;
}

.card-body span img {
    height: 30px;
    margin-top: 10px;
}

.card-body h5 {
    color: #777;
    font-size: 1rem;
}

.card-body h4 {
    color: black;
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: black;
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 1rem;

}

.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.activity-card h3 {
    color: #777;
    margin: 1rem;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: #efefef;
    text-align: left;
    margin-left: 30px;
}

th,
td {
    font-size: .9rem;
    padding: 1rem .5rem;
    color: black;
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
}

.badge.success {
    background: #DEF7EC;
    color: green;
}

.badge.warning {
    background: #f0f6b2;
    color: orange;
}

.summary-card {
    margin-bottom: 1.5rm;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 50vh;
}

.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5 {
    color: #777;
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}

.summary-single small {
    font-weight: 700;
    color: #777;
}

.bday-flex {
    display: flex;
    align-items: center;
}

.bday-card {
    padding: 1rem;
}

.bday-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #777;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

.text-center button {
    background-color: #9DF3C4;
    color: #777;
    border: 1px solid #9DF3C4;
    border-radius: 4px;
    padding: .4rem 1rem;
}

.table-responsive {
    overflow-x: auto;
    margin: 1rem;
}

.table-responsives {
    overflow-x: auto;
    margin: 1rem;
    margin-top: 1.5rem;
}

.sidebar.close~.home header {
    left: 78px;
    width: calc(100% - 78px);
}

.sidebar.close~.home {
    margin-left: -182px;
    width: calc(100% - 78px);
}


.home .toggle-sidebar {
    height: 60px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.home .toggle-sidebar i {
    font-size: 35px;
    color: var(--color_Dark1);
    margin-left: 15px;
}

.home .toggle-sidebar .text {
    font-size: 15px;
    color: #1e1e1e;
    font-weight: 600;
}



/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px) {}

/* For Medium Devices */
@media (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .activity-grid {
        display: block;
    }

    .summary {
        margin-top: 1rem;
    }

    .card-bodys {
        padding: 1rem .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-bodys .profile .img-profile img {
        margin-bottom: .8rem;
        height: 90px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .card-bodys .profile .img-profile {
        display: flex;
        justify-content: space-around;
    }

    .card-bodys .profile {
        width: 80%;
    }

    .card-bodys .profile .info-profile {
        margin: 8px;
    }

    .card-bodys .profile .info-profile label {
        font-weight: 600;
        font-size: .8rem;
        display: inline-block;
        margin-bottom: 0.2rem;
    }


    .card-bodys .profile .info-profile input {
        display: block;
        width: 100%;
        height: 35px;
        padding: 0.375rem 0.75rem;
        font-size: .5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #1e1e1e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #1e1e1e;
        border-radius: 0.35rem;
    }

    .card-bodys .profile .edit-profile {
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    .card-bodys .profile .btn-upload {
        display: flex;
        justify-content: center;
    }

    .card-bodys .profile .btn-upload input {
        width: 30%;
        /* margin-left: 4rem; */
    }
}

@media (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }

    .card-bodys .profile .img-profile img {
        margin-bottom: .8rem;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
}

/* For Small Devices */
@media (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}